<!DOCTYPE HTML>
<html>
<head>
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico">
    <title>Connect+ : Connect with your Guests</title>
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <link rel="stylesheet" href="css/style.css">
    <!--[if lt IE 9]>
        <script src="js/html5.js"></script>
        <script src="js/respond.js"></script>
    <![endif]-->
</head>
<body class="no-js">
    <script type="text/javascript">
        var lat,lang;
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else { 
                alert("Geolocation is not supported by this browser.");
            }
        }
        function showPosition(pos)
        {
            lat=pos.coords.latitude;
            lang=pos.coords.longitude;
            //alert(lat + "&" +lang)
        }
        //getLocation();
    </script>
    <div class="main">
        <header>
            <div class="wrap">
                <img src="img/LOGO.png" height="800" width="400" alt="" class="header-img">
                <div class="header-wrapper">
                    <h1>Connect +</h1>
                    <p>With this application, you can got to any spot on Earth. And we'll help ypu to find 
                    people similar to you at that place :) .</p>
                    <p class="autor"><a href="http://slides.com/tarun_19/connect/live#/" target="_blank">Demo Link</a></p>
                    <div class="buttons-wrapper">
                        <a href="#" class="button button-twitter">Connect with Twitter</a>
                        <a href="#" class="button button-stripe">Share Your Location</a>
                    </div>
                </div>
                <!-- /.header-wrapper -->
            </div>
            <!-- /.wrap -->
        </header>
        <div class="spanning">
            <!--SlideShow-->
            <div class="video clearfix">
                <div class="wrap">
                    <div class="video-title">Roam,Attend &amp; Explore</div>
                    <div class="video-subtitle">Slideshow for Application</div>
                    <div class="video-block">
                       <iframe src="http://slides.com/tarun_19/connect/live#/" width="814" height="458" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                    <div class="video-share-wrapper clearfix">
                        <ul class="social-list clearfix">
                            <li class="video-share-title">Share it with your friends:</li>
                            <li><a href="https://twitter.com/home?status=Presentation%20of%20Connect+" class="social-twitter" target="_blank">via <strong>Twitter</strong></a></li>
                            <li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://connectplus.mybluemix.net" class="social-facebook">via <strong>Facebook</strong></a></li>
                            <li><a target="_blank" href="https://plus.google.com/share?url=http://connectplus.mybluemix.net" class="social-google">via <strong>Google+</strong></a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.wrap -->
            </div>
            <!--Features-->
            <div class="promo clearfix">
                <div class="wrap">
                    <div class="promo-wrapper clearfix">
                        <div class="promo-column">
                            <img src="upload/pin.png" height="32" width="24" alt="">
                            <h5>Places</h5>
                            <p>Freely roam around the world and we'll help you to build your community.</p>
                        </div>
                        <div class="promo-column">
                            <img src="upload/settings.png" height="32" width="33" alt="">
                            <h5>Settings</h5>
                            <p>Just share Your location with us and let us analyze your tweets and we'll do the rest.</p>
                        </div>
                        <div class="promo-column">
                            <img src="upload/easy.png" height="32" width="34" alt="">
                            <h5>Easy</h5>
                            <p>We interactively analyze your data(from twitter) and let you know about best person you can catch up with. </p>
                        </div>
                        <div class="promo-column">
                            <img src="upload/saturn.png" height="32" width="32" alt="">
                            <h5>Global</h5>
                            <p>Yes,We are a globally available and will help you find people like you in speaking your language(currently only english "en")</p>
                        </div>
                    </div>
                </div>
                <!-- /.wrap -->
            </div>
            <!--Founders View-->
        </div>
        <!-- /.spanning-columns -->
    </div>
    <!-- /.main -->
    <footer>
        <div class="wrap">
            <p>&copy; 2015 <strong>Connect +</strong>, All Rights Reserved</p>
        </div>
        <!-- /.wrap -->
    </footer>
    <script src="js/jquery.js"></script>
    <script src="js/library.js"></script>
    <script src="js/script.js"></script>
    <script src="js/retina.js"></script>
    <script src="js/twitter.js"></script>
</body>
</html>