<div class="panel-main">
	<div class="your-personality">
		<div class="description">
			<p>
				<span class="me">Tarun_Garg</span>, your Twitter personality is...
			</p>
		</div>
	</div>
	<div class="row avatars-row">
		<div class="col-sm-4 col-xs-12 me">
			<div class="avatar text-right img-circle">
				<div class="second-border img-circle">
					<div class="third-border img-circle">
						<img src="http://pbs.twimg.com/profile_images/598442639650725890/miZyTKvD_400x400.jpg" class="me"/>
					</div>
				</div>
			</div>
			<div class="text-center">
				<p class="avatar-name">
					<a href="https://twitter.com/tarun_garg2">@tarun_garg2</a>
				</p>
			</div>
		</div>
		<div class="col-sm-4 text-center col-xs-12">
			<div class="similarity">
				<div class="left-bar">
					<div></div>
				</div>
				<div class="right-bar">
					<div></div>
				</div>
				<div class="similarity-percentage">
					<h1 class="cel_distance"></h1>
				</div>
			</div>
			<h4 class="similar-to">similar to<br/>
				<span class="cel_name"></span>
			</h4>
		</div>
		<div class="col-sm-4 col-xs-12 celebrity">
			<div class="avatar text-right img-circle">
				<div class="second-border img-circle">
					<div class="third-border img-circle">
						<img class="cel_image celebrity"/>
					</div>
				</div>
			</div>
			<div class="text-center">
				<p class="avatar-name">
					<a class="cel_username"></a>
				</p>
			</div>
		</div>
	</div>
	<div class="row trait-row">
		<div class="col-md-3">
			<p class="text-right">Cautious</p>
		</div>
		<div class="col-md-3 col-md-push-6">
			<p class="text-left">Curious</p>
		</div>
		<div class="col-md-6 col-md-pull-3">
			<div class="measuring-bar">
				<div style="left:calc(94.66296700620256%)" class="point mep">
				</div>
				<div id="trait_0" class="point celebrityp"></div>
			</div>
		</div>
	</div>
	<div class="row trait-row">
		<div class="col-md-3">
			<p class="text-right">Organized</p>
		</div>
		<div class="col-md-3 col-md-push-6">
			<p class="text-left">Easy Going</p>
		</div>
		<div class="col-md-6 col-md-pull-3">
			<div class="measuring-bar">
				<div style="left:calc(64.9584283410061%)" class="point mep"></div>
				<div id="trait_1" class="point celebrityp">
				</div>
			</div>
		</div>
	</div>
	<div class="row trait-row">
		<div class="col-md-3">
			<p class="text-right">Outgoing</p>
		</div>
		<div class="col-md-3 col-md-push-6">
			<p class="text-left">Reserved</p>
		</div>
		<div class="col-md-6 col-md-pull-3">
			<div class="measuring-bar">
				<div style="left:calc(16.555432804042162%)" class="point mep"></div>
				<div id="trait_2" class="point celebrityp"></div>
			</div>
		</div>
	</div>
	<div class="row trait-row">
		<div class="col-md-3">
			<p class="text-right">Sensitive</p>
		</div>
		<div class="col-md-3 col-md-push-6">
			<p class="text-left">Confident</p>
		</div>
		<div class="col-md-6 col-md-pull-3">
			<div class="measuring-bar">
				<div style="left:calc(4.110492549064396%)" class="point mep"></div>
				<div id="trait_3" class="point celebrityp">
				</div>
			</div>
		</div>
	</div>
	<div class="row trait-row">
		<div class="col-md-3">
			<p class="text-right">Compassionate</p>
		</div>
		<div class="col-md-3 col-md-push-6">
			<p class="text-left">Analytical</p>
		</div>
		<div class="col-md-6 col-md-pull-3">
			<div class="measuring-bar">
				<div style="left:calc(24.240297725315145%)" class="point mep"></div>
				<div id="trait_4" class="point celebrityp"></div>
			</div>
		</div>
	</div>
</div>